body{
    background-color: rgb(234, 224, 224);
}

#filterItem, 
.enterItem {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 5px;
}

#filterItem:focus,
.enterItem:focus{
    outline: none;
    box-shadow: none;
}

.item-border{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.item{
    cursor: pointer;
}

#clearBtn{
    display:block;  
}

